<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--the URL of the Workflow REST API Endpoint. YOu can get this value from K2 Management Site in Integration|APIs|Workflow REST|Base URL-->
    <add key="WorkflowRESTAPIURL" value="https://k2.denallix.com/api/workflow/v1"/>
    <!--most code samples in this project use basic authentication for brevity. This is the username and password used for the basic authentication samples. 
    See the class AuthenticationSamples.cs and the product documentation at https://help.k2.com/onlinehelp/k2five/DevRef/current/default.htm#Runtime/WF-REST-API/WF-REST-API-Authentication.htm for other authentication approaches-->
    <add key="BasicAuthUserName" value="administrator@denallix.com"/>
    <add key="BasicAuthPassword" value="K2pass!"/>
    <!--values for using static OAuth (do not prompt for credentials). 
    TODO: provide the appropriate values for your environment
    -->
    <add key="OAuthStaticUserName" value="administrator@denallix.onmicrosoft.com"/>
    <add key="OAuthStaticPassword" value="K2pass!"/>
    <!--Client ID of the custom client app requesting the token (the app should have the K2 API permission scope). If using AAD for OAuth, provide the Application ID of your custom app registration; you can find this value in the Application ID field in the App Registration page, in Settings|Properties-->
    <add key="OAuthStaticClientId" value="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"/>
    <!--the secret key for the custom client app requesting the token. If using AAD for OAuth, provide the Client Secret (also known as the Key value) from your AAD App Registration page, in the Settings|Keys page -->
    <add key="OAuthStaticClientSecret" value="###################################"/>
    <!--Identifier of the target resource that is the recipient of the requested token. This value will most likely be https://api.k2.com/ in your environment-->
    <add key="OAuthStaticResource" value="https://api.k2.com/"/>
    <!--//The outh2token endpoint URL from your AAD config-->
    <add key="OAuthStaticOuth2TokenUrl" value="https://login.microsoftonline.com/[uniqueID]/oauth2/token"/>
  </appSettings>
</configuration>